{% extends "frontend.html.twig" %}

{% block title %}Compra: {{ categoria }}{% endblock %}

{% block body_estrecho %}
    <h4 class="bg-secondary p-2" style="color: #FFF">{{ categoria }}</h4>
    <hr>
    <div class="row featured__filter">
        {% for p in products %}
            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg thumbnail" data-setbg="{{ asset('images/' ~ p.image) }}">
                        <ul class="featured__item__pic__hover">
                            <li><a onclick="likePlus(this); return false;" href="{{ path('default_like_product', { 'id' : p.id }) }}"><i class="fa fa-heart"></i></a></li>
                            <li><a href="{{ path('default_product', {'id': p.id}) }}"><i class="fa fa-link"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="{{ path('default_product', {'id': p.id}) }}">{{ p }}</a></h6>
                        <h5>${{ p.price }} USD</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block js %}
    <script src="{{ asset('js/functions.js') }}"></script>
{% endblock %}