{% extends "frontend.html.twig" %}

{% block title %}{{ product }}{% endblock %}

{% block body_estrecho %}
    <div class="row">
        <div class="col-lg-3">
            <div id="img-container">
                <img src="{{ asset('images/' ~ product.image) }}" alt="{{ product }}" class="img-fluid thumbnail">
                <p class="text-center"><small>Pasa el mouse encima de la imagen para aplicar zoom</small></p>
            </div>
            <a href="{{ product.url }}" target="_blank" class="btn btn-warning btn-outline-danger btn-block">Ir a comprar</a>
        </div>
        <div class="col">
            <h4>{{ product }}</h4>
            <hr>
            {{ product.description | raw }}
            <p><span class="btn">Precio US${{ product.price }}</span></p>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{{ asset('css/js-image-zoom.js') }}"></script>
    <script>
        var options1 = {
            width: 400,
            zoomWidth: 500,
            offset: {vertical: 0, horizontal: 10}
        };

        // If the width and height of the image are not known or to adjust the image to the container of it
        var options2 = {
            fillContainer: true,
            offset: {vertical: 0, horizontal: 10},
            zoomPosition:"original"
        };
        new ImageZoom(document.getElementById("img-container"), options2);

    </script>
{% endblock %}